

### Step 1. Import the necessary libraries

In [10]:
import numpy as np
import pandas as pd
import pprint
#import pandas_profiling 
#Euro_2012_stats_TEAM.csv

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [12]:
euro12=pd.read_csv("Euro_2012_stats_TEAM.csv")
print(euro12.info())
print(euro12.describe())
#print(euro12.profile_report())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 35 columns):
Team                          17 non-null object
Goals                         16 non-null float64
Shots on target               16 non-null float64
Shots off target              16 non-null float64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null float64
Hit Woodwork                  16 non-null float64
Penalty goals                 16 non-null float64
Penalties not scored          16 non-null float64
Headed goals                  16 non-null float64
Passes                        16 non-null float64
Passes completed              16 non-null float64
Passing Accuracy              16 non-null object
Touches                       16 non-null float64
Crosses                       16 non-null float64
Dribbles                      16 non-null float64
Corners Taken                 16 non-null float64
Tackles                       16 non-null float64
Clearances                    16 non-null float64
Interceptions                 16 non-null float64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null float64
Blocks                        16 non-null float64
Goals conceded                16 non-null float64
Saves made                    16 non-null float64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null float64
Fouls Conceded                16 non-null float64
Offsides                      16 non-null float64
Yellow Cards                  16 non-null float64
Red Cards                     16 non-null float64
Subs on                       16 non-null float64
Subs off                      16 non-null float64
Players Used                  16 non-null float64
dtypes: float64(30), object(5)
memory usage: 5.5+ KB
None
           Goals  Shots on target  Shots off target  \
count  16.000000        16.000000         16.000000
mean    4.750000        17.125000         24.937500
std     2.886751        10.582218         10.680005
min     1.000000         7.000000         10.000000
25%     2.750000         9.750000         18.000000
50%     4.500000        13.000000         23.500000
75%     5.250000        22.000000         32.250000
max    12.000000        42.000000         45.000000

       Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
count                   16.000000     16.000000      16.000000
mean                    54.937500      1.250000       0.187500
std                     26.065223      1.612452       0.403113
min                     27.000000      0.000000       0.000000
25%                     36.500000      0.000000       0.000000
50%                     44.000000      1.000000       0.000000
75%                     68.750000      2.000000       0.000000
max                    110.000000      6.000000       1.000000

       Penalties not scored  Headed goals       Passes  Passes completed  \
count               16.0000     16.000000    16.000000         16.000000
mean                 0.0625      1.375000  1763.375000       1467.375000
std                  0.2500      1.024695   906.177898        827.580721
min                  0.0000      0.000000   851.000000        606.000000
25%                  0.0000      0.750000  1190.750000        951.500000
50%                  0.0000      1.500000  1522.000000       1211.500000
75%                  0.0000      2.000000  1934.750000       1546.500000
max                  1.0000      3.000000  4317.000000       3820.000000

           ...       Goals conceded  Saves made   Fouls Won  Fouls Conceded  \
count      ...            16.000000   16.000000   16.000000       16.000000
mean       ...             4.750000   12.125000   52.937500       55.625000
std        ...             1.983263    4.573474   22.915697       18.973227
min        ...             1.000000    6.000000   25.000000       30.000000
25%        ...             3.000000    9.750000   35.750000       44.500000
50%        ...             5.000000   11.000000   45.500000       51.000000
75%        ...             6.000000   13.500000   64.000000       64.750000
max        ...             9.000000   22.000000  102.000000       90.000000

        Offsides  Yellow Cards  Red Cards   Subs on  Subs off  Players Used
count  16.000000     16.000000  16.000000  16.00000  16.00000     16.000000
mean    8.125000      7.437500   0.187500  10.87500  10.87500     17.250000
std     4.910872      3.265348   0.403113   3.53789   3.53789      1.527525
min     2.000000      4.000000   0.000000   7.00000   7.00000     15.000000
25%     4.000000      5.000000   0.000000   8.50000   8.50000     16.000000
50%     7.500000      6.500000   0.000000  10.50000  10.50000     17.000000
75%    11.250000      9.000000   0.000000  12.50000  12.50000     18.250000
max    19.000000     16.000000   1.000000  18.00000  18.00000     20.000000

[8 rows x 30 columns]

### Step 4. Select only the Goal column.

In [4]:
euro12["Goals"]

0      4.0
1      4.0
2      4.0
3      5.0
4      3.0
5     10.0
6      5.0
7      6.0
8      2.0
9      2.0
10     6.0
11     1.0
12     5.0
13    12.0
14     5.0
15     2.0
16     NaN
17     NaN
18     NaN
19     NaN
Name: Goals, dtype: float64

### Step 5. How many team participated in the Euro2012?

In [7]:
#len(euro12["Team"]) 
euro12["Team"].count()

17

### Step 6. What is the number of columns in the dataset?

In [9]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [26]:
discipline=pd.DataFrame(euro12["Yellow Cards"],euro12["Red Cards"])
#discipline
#euro12["Team","Yellow Cards","Red Cards"]
#print(euro12["Yellow Cards"] ,euro12["Red Cards"])
euro12[["Yellow Cards","Red Cards","Team"]]#corect

    Yellow Cards  Red Cards                                               Team
0            9.0        0.0                                            Croatia
1            7.0        0.0                                     Czech Republic
2            4.0        0.0                                            Denmark
3            5.0        0.0                                            England
4            6.0        0.0                                             France
5            4.0        0.0                                            Germany
6            9.0        1.0                                             Greece
7           16.0        0.0                                              Italy
8            5.0        0.0                                        Netherlands
9            7.0        1.0                                             Poland
10          12.0        0.0                                           Portugal
11           6.0        1.0                                Republic of Ireland
12           6.0        0.0                                             Russia
13          11.0        0.0                                              Spain
14           7.0        0.0                                             Sweden
15           5.0        0.0                                            Ukraine
16           NaN        NaN                                                NaN
17           NaN        NaN                                                NaN
18           NaN        NaN                                                NaN
19           NaN        NaN  https://towardsdatascience.com/data-handling-u...

In [27]:
dis=pd.DataFrame(euro12,columns=("Team","Yellow Cards","Red Cards"))
dis
#or
dis.sort_values(by=["Team","Yellow Cards","Red Cards"])

                                                 Team  Yellow Cards  Red Cards
0                                             Croatia           9.0        0.0
1                                      Czech Republic           7.0        0.0
2                                             Denmark           4.0        0.0
3                                             England           5.0        0.0
4                                              France           6.0        0.0
5                                             Germany           4.0        0.0
6                                              Greece           9.0        1.0
7                                               Italy          16.0        0.0
8                                         Netherlands           5.0        0.0
9                                              Poland           7.0        1.0
10                                           Portugal          12.0        0.0
11                                Republic of Ireland           6.0        1.0
12                                             Russia           6.0        0.0
13                                              Spain          11.0        0.0
14                                             Sweden           7.0        0.0
15                                            Ukraine           5.0        0.0
19  https://towardsdatascience.com/data-handling-u...           NaN        NaN
16                                                NaN           NaN        NaN
17                                                NaN           NaN        NaN
18                                                NaN           NaN        NaN

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [66]:
sort=["Team","Red Cards","Yellow Cards"]
dis.reindex(columns=sort)

                                                 Team  Red Cards  Yellow Cards
0                                             Croatia        0.0           9.0
1                                      Czech Republic        0.0           7.0
2                                             Denmark        0.0           4.0
3                                             England        0.0           5.0
4                                              France        0.0           6.0
5                                             Germany        0.0           4.0
6                                              Greece        1.0           9.0
7                                               Italy        0.0          16.0
8                                         Netherlands        0.0           5.0
9                                              Poland        1.0           7.0
10                                           Portugal        0.0          12.0
11                                Republic of Ireland        1.0           6.0
12                                             Russia        0.0           6.0
13                                              Spain        0.0          11.0
14                                             Sweden        0.0           7.0
15                                            Ukraine        0.0           5.0
16                                                NaN        NaN           NaN
17                                                NaN        NaN           NaN
18                                                NaN        NaN           NaN
19  https://towardsdatascience.com/data-handling-u...        NaN           NaN

### Step 9. Calculate the mean Yellow Cards given per Team

In [74]:
dis["Yellow Cards"].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [79]:
euro12["Team"][euro12["Goals"]>6] #values selection euro12[euro12.Goals>6]
#explore filter

5     Germany
13      Spain
Name: Team, dtype: object

### Step 11. Select the teams that start with G

In [198]:
euro12["Team"] # apna data frame sahe se dekhe juggar na lagae
for t in euro12.Team:
   # print(t)
    v=str(t)
    t=v.startswith("G")   
    if t==True:
        print(v)

Germany
Greece

### Step 12. Select the first 7 columns

In [103]:
euro12.iloc[::,:7:] #euro12.coloumns(7)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4.0,13.0,12.0,51.90%,16.00%,32.0
1,Czech Republic,4.0,13.0,18.0,41.90%,12.90%,39.0
2,Denmark,4.0,10.0,10.0,50.00%,20.00%,27.0
3,England,5.0,11.0,18.0,50.00%,17.20%,40.0
4,France,3.0,22.0,24.0,37.90%,6.50%,65.0
5,Germany,10.0,32.0,32.0,47.80%,15.60%,80.0
6,Greece,5.0,8.0,18.0,30.70%,19.20%,32.0
7,Italy,6.0,34.0,45.0,43.00%,7.50%,110.0
8,Netherlands,2.0,12.0,36.0,25.00%,4.10%,60.0
9,Poland,2.0,15.0,23.0,39.40%,5.20%,48.0
10,Portugal,6.0,22.0,42.0,34.30%,9.30%,82.0
11,Republic of Ireland,1.0,7.0,12.0,36.80%,5.20%,28.0
12,Russia,5.0,9.0,31.0,22.50%,12.50%,59.0
13,Spain,12.0,42.0,33.0,55.90%,16.00%,100.0
14,Sweden,5.0,17.0,19.0,47.20%,13.80%,39.0
15,Ukraine,2.0,7.0,26.0,21.20%,6.00%,38.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,https://towardsdatascience.com/data-handling-u...,NaN,NaN,NaN,NaN,NaN,NaN

### Step 13. Select all columns except the last 3.

In [104]:
euro12.iloc[::,:-4:]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards
0,Croatia,4.0,13.0,12.0,51.90%,16.00%,32.0,0.0,0.0,0.0,...,NaN,0.0,10.0,3.0,13.0,81.30%,41.0,62.0,2.0,9.0
1,Czech Republic,4.0,13.0,18.0,41.90%,12.90%,39.0,0.0,0.0,0.0,...,2.0,1.0,10.0,6.0,9.0,60.10%,53.0,73.0,8.0,7.0
2,Denmark,4.0,10.0,10.0,50.00%,20.00%,27.0,1.0,0.0,0.0,...,0.0,1.0,10.0,5.0,10.0,66.70%,25.0,38.0,8.0,4.0
3,England,5.0,11.0,18.0,50.00%,17.20%,40.0,0.0,0.0,0.0,...,1.0,2.0,29.0,3.0,22.0,88.10%,43.0,45.0,6.0,5.0
4,France,3.0,22.0,24.0,37.90%,6.50%,65.0,1.0,0.0,0.0,...,0.0,1.0,7.0,5.0,6.0,54.60%,36.0,51.0,5.0,6.0
5,Germany,10.0,32.0,32.0,47.80%,15.60%,80.0,2.0,1.0,0.0,...,0.0,1.0,11.0,6.0,10.0,62.60%,63.0,49.0,12.0,4.0
6,Greece,5.0,8.0,18.0,30.70%,19.20%,32.0,1.0,1.0,1.0,...,0.0,1.0,23.0,7.0,13.0,65.10%,67.0,48.0,12.0,9.0
7,Italy,6.0,34.0,45.0,43.00%,7.50%,110.0,2.0,0.0,0.0,...,1.0,2.0,18.0,7.0,20.0,74.10%,101.0,89.0,16.0,16.0
8,Netherlands,2.0,12.0,36.0,25.00%,4.10%,60.0,2.0,0.0,0.0,...,0.0,0.0,9.0,5.0,12.0,70.60%,35.0,30.0,3.0,5.0
9,Poland,2.0,15.0,23.0,39.40%,5.20%,48.0,0.0,0.0,0.0,...,0.0,0.0,8.0,3.0,6.0,66.70%,48.0,56.0,3.0,7.0
10,Portugal,6.0,22.0,42.0,34.30%,9.30%,82.0,6.0,0.0,0.0,...,0.0,2.0,11.0,4.0,10.0,71.50%,73.0,90.0,10.0,12.0
11,Republic of Ireland,1.0,7.0,12.0,36.80%,5.20%,28.0,0.0,0.0,0.0,...,1.0,0.0,23.0,9.0,17.0,65.40%,43.0,51.0,11.0,6.0
12,Russia,5.0,9.0,31.0,22.50%,12.50%,59.0,2.0,0.0,0.0,...,0.0,0.0,8.0,3.0,10.0,77.00%,34.0,43.0,4.0,6.0
13,Spain,12.0,42.0,33.0,55.90%,16.00%,100.0,0.0,1.0,0.0,...,0.0,5.0,8.0,1.0,15.0,93.80%,102.0,83.0,19.0,11.0
14,Sweden,5.0,17.0,19.0,47.20%,13.80%,39.0,3.0,0.0,0.0,...,0.0,1.0,12.0,5.0,8.0,61.60%,35.0,51.0,7.0,7.0
15,Ukraine,2.0,7.0,26.0,21.20%,6.00%,38.0,0.0,0.0,0.0,...,0.0,0.0,4.0,4.0,13.0,76.50%,48.0,31.0,4.0,5.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,https://towardsdatascience.com/data-handling-u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [234]:
#euro12["Shooting Accuracy"][euro12["Team"]=="England"]
#euro12["Shooting Accuracy"][euro12["Team"]=="England"]
#euro12["Shooting Accuracy"][euro12["Team"]=="Italy"]
print(euro12["Shooting Accuracy"][euro12["Team"]=="England"],euro12["Shooting Accuracy"][euro12["Team"]=="Italy"]
,euro12["Shooting Accuracy"][euro12["Team"]=="Russia"])
eir=euro12[["Team","Shooting Accuracy"]]
eir.loc[eir["Team"].isin(["England","Italy","Russia"])]

3    50.00%
Name: Shooting Accuracy, dtype: object 7    43.00%
Name: Shooting Accuracy, dtype: object 12    22.50%
Name: Shooting Accuracy, dtype: object

       Team Shooting Accuracy
3   England            50.00%
7     Italy            43.00%
12   Russia            22.50%

In [237]:
#data=pd.DataFrame(euro12,)
data=pd.read_csv("Euro_2012_stats_TEAM.csv",index_col="Team")
data.loc[["England","Italy","Russia"]]["Shooting Accuracy"]

Team
England    50.00%
Italy      43.00%
Russia     22.50%
Name: Shooting Accuracy, dtype: object

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**

In [162]:
euro12["Perfomance"]=[]
for go in euro12.Goals:
    if go<=2:
        euro12["Perfomance"].append("BAvg")
        
    elif go>2 and go<=5:
        euro12["Perfomance"].append("avg")
    elif go<5 and go<=10:
        euro12["Perfomance"].append("A avg")
    elif go>10:
        euro12["Perfomance"].append("exxce")

ValueError: Length of values does not match length of index

In [224]:
euro12["Perfom"]=[]
for i in euro12.Goals:
    if i<=2:
        euro12["Perfom"].append("bavg")
    elif i>2 and i<=5:
        euro12["Perfom"].append("avg")
    elif i>5 and i<=8:
        euro12["Perfom"].append("good")
    elif i>10:
        euro12["Perfom"].append("exce")
    else :
        euro12["Perfom"].append("nan")

ValueError: Length of values does not match length of index

In [225]:
euro12["Perfomance"]=["B.Avg" if g<=2  else g<=5 "avg" if g>10 "excell"for g in euro12.Goals]

SyntaxError: invalid syntax (<ipython-input-225-77b39e838e8a>, line 1)

In [197]:
#t=euro12["Team"]
for t in euro12.Team:
   # print(t)
    v=str(t)
    t=v.startswith("G")   
    if t==True:
        print(v)
    
#str(euro12["Team"]).startswith("G")

Germany
Greece

In [228]:
euro12["Perfomance"]=["Bavg" if g<=2 and "avg" if g<=5 and 
                      
                      for g in euro12["Goals"]]

SyntaxError: invalid syntax (<ipython-input-228-fbb03dc7fca9>, line 1)

In [242]:
f=lambda x:"Bellow avg"if x<=2 else "avg" if x>2 and x<=5 else "above avg" if x>5 and x<=10 else "excellent " 
data["Perf"]=data["Goals"].apply(f)
data[["Goals","Perf"]]

                                                    Goals        Perf
Team
Croatia                                               4.0         avg
Czech Republic                                        4.0         avg
Denmark                                               4.0         avg
England                                               5.0         avg
France                                                3.0         avg
Germany                                              10.0   above avg
Greece                                                5.0         avg
Italy                                                 6.0   above avg
Netherlands                                           2.0  Bellow avg
Poland                                                2.0  Bellow avg
Portugal                                              6.0   above avg
Republic of Ireland                                   1.0  Bellow avg
Russia                                                5.0         avg
Spain                                                12.0  excellent
Sweden                                                5.0         avg
Ukraine                                               2.0  Bellow avg
NaN                                                   NaN  excellent
NaN                                                   NaN  excellent
NaN                                                   NaN  excellent
https://towardsdatascience.com/data-handling-us...    NaN  excellent